<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body class="abc-body">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="nav-logo" src="/images/in11.png" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">All Courses</a>
                <a class="nav-link" href="#">Contact Us</a>
                <a class="nav-link " href="#">About</a>
            </div>
        </div>
    </nav>

    <div class="checkout">
        <div class="product-brochure">

            <img class="single-product-img" id="single-product-img" src=<%=course.image_add%> alt="">




            <div id="product-details" class="product-details">

                <h2><%=course.course_name%></h2>
                <h4> <%=course.course_desc%></h4>
                <p> <%= course.tutor %></p>
                <h3> <%=course.price%> /-</h3>
                <a type="button" class="btn btn-lg " id="enroll-product"
                    style="background-color: #05386b;color: white; ">Enroll
                    Now</a>
            </div>
        </div>


        <div class="what-you-will-learn">
            <h2>What You Will Learn</h2>
            <ul>
                <li><%=course.desc_1%></li>
                <li><%=course.desc_2 %></li>
                <li><%=course.desc_3 %></li>
                <li><%=course.desc_4 %></li>
            </ul>

        </div>

        <div class="product-description">
            <h2>Course Description</h2>
            <ul>
                <li><%=course.syll_1%></li>
                <li><%=course.syll_2 %></li>
                <li><%=course.syll_3 %></li>
                <li><%=course.syll_4%></li>
                <li><%=course.syll_5%></li>
                <li><%=course.syll_6 %></li>
                <li><%=course.syll_7 %></li>
                <li><%=course.syll_8 %></li>
                <li><%=course.syll_9 %></li>

            </ul>
        </div>
    </div>
    <!-- --------------BOOTSTRAP CDN------------- -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>