<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mycss.css">
</head>





<body class="container-fluid">

    <div class="heading-container">
        <h1>All Courses</h1>
    </div>


    <div class="allcourse-container ">
        <%  courses.forEach(function(course){ %>

        <a class="course-link" href="/abc/<%=course._id%>">

            <div class="course-container col-8 col-md-4">

                <img class="course-img" src=<%=course.image_add%> />
                <br></br>
                <div class="course-name-container">
                    <h5 style="font-family: 'Kanit', sans-serif; font-size: 20px;color:#05386B;" class="course-name">
                        <%=course.course_name%> </h5>
                </div>

                <div class="tutor-price-container">
                    <div style="font-family: 'Kanit', sans-serif; " class="course-tutor">
                        <%=course.tutor%></div>
                    <div style="font-family: 'Kanit', sans-serif;" class="course-price"><%=course.price%></div>
                </div>
            </div>

        </a>




        <% }) %>

    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
</body>

</html>