<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" Syllabus="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>



    <h1 style="margin-bottom: 100px;">Add New Course</h1>
    <form action="/editcourse" method="POST">
        <label>Course ID</label>
        <p><input type="text" name="course_id" placeholder="course ID" value="<%=course._id%>"></p>
        <label>Course Name</label>
        <p><input type="text" name="course_name" placeholder="course name" value="<%=course.course_name%>"></p>
        <label>Description</label>
        <p><input name="course_desc" size="150" type="text" placeholder="Course Main Description"
                value="<%=course.course_desc %>"></p>
        <label>Image Address</label>
        <p><input name="image_add" size="5000" type="text" placeholder="Image Address" value="<%= course.image_add%>">
        </p>
        <label>Cancelled price</label>
        <p> <input type="number" name="originalprice_1" placeholder="Cancelled Price" value="<%=course.originalprice_1 %>"></p>
        <label>Price</label>
        <p><input name="price" size="6" type="number" placeholder="Price" value="<%=course.price %>"></p>
        <label>Desc 1</label>
        <p><input name="desc_1" size="150" type="text" placeholder="Desc 1" value="<%=course.desc_1 %>"></p>
        <label>Desc 2</label>
        <p><input name="desc_2" size="150" type="text" placeholder="Desc 2" value="<%=course.desc_2 %>"></p>
        <label>Desc 3</label>
        <p><input name="desc_3" size="150" type="text" placeholder="Desc 3" value="<%=course.desc_3 %>"></p>
        <label>Desc 4</label>
        <p><input name="desc_4" size="150" type="text" placeholder="Desc 4" value="<%=course.desc_4 %>"></p>
        <label>Syllabus 1</label>
        <p><input name="syll_1" size="150" type="text" placeholder="Syllabus 1" value="<%=course.syll_1 %>"></p>
        <label>Syllabus 2</label>
        <p><input name="syll_2" size="150" type="text" placeholder="Syllabus 2" value="<%=course.syll_2 %>"></p>
        <label>Syllabus 3</label>
        <p><input name="syll_3" size="150" type="text" placeholder="Syllabus 3" value="<%=course.syll_3 %>"></p>
        <label>Syllabus 4</label>
        <p><input name="syll_4" size="150" type="text" placeholder="Syllabus 4" value="<%=course.syll_4 %>"></p>
        <label>Syllabus 5</label>
        <p><input name="syll_5" size="150" type="text" placeholder="Syllabus 5" value="<%=course.syll_5 %>"></p>
        <label>Syllabus 6</label>
        <p><input name="syll_6" size="150" type="text" placeholder="Syllabus 6" value="<%=course.syll_6 %>"></p>
        <label>Syllabus 7</label>
        <p><input name="syll_7" size="150" type="text" placeholder="Syllabus 7" value="<%=course.syll_7 %>"></p>
        <label>Syllabus 8</label>
        <p><input name="syll_8" size="150" type="text" placeholder="Syllabus 8" value="<%=course.syll_8 %>"></p>
        <label>Syllabus 9</label>
        <p><input name="syll_9" size="150" type="text" placeholder="Syllabus 9" value="<%=course.syll_9 %>"></p>

        <input type="submit" class="login100-form-btn" value="Submit">
        <br>
    </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>


</body>

</html>