<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insights4all Live Coding Classes</title>
    <link rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- --font awesome-- -->

    <script src="https://kit.fontawesome.com/45f201f126.js" crossorigin="anonymous"></script>


    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <img src="/images/logo1.png" id="logo" />

        <a class="mr-3 bg-black" href="/contact">Contact Us</a>
        <a class=" mr-3" href="/about">About Us</a>
        <a class="mr-3" href="allcourses">Courses</a>
        <a class="mr-3" href="/">Home</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </div>
    <div class="container-fluid pt-5 " id="slider">
        <div class="row">
            <div class="col">
                <h1 class="ml-5">Welcome to Insights4all</h1>
                <p class="ml-5">Upgrade your Skills with Live Mentoring</p>
                <a href="allcourses" class="btn btn-outline-light mt-3 ml-5">See All Courses</a>
            </div>
            <div class="col">
                <img class="img-circle img-responsive mb-5" style="height:200px; width: 300px;"
                    src="/images/coding.png" />
            </div>


        </div>


    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }</script>



    <!-- ----------------COURSE-BODY STARTS--------------------->

    <div class="row text-center ml-5 mt-5 mr-5">
        <div class="col border p-4 ml-2 mt-2 rounded" id="content">
            <img class="img-responsive" src="/images/live2.jpg" style="height:130px;width:180px;" />
            <h5>Live Classes</h5>
            <p>Attend Our Live Sessions which dives you deep through programming concepts with hands on coding.</p>

        </div>
        <div class="col border p-4 ml-2 mt-2 rounded" id="content">
            <img class="img-responsive" src="/images/Queries.jpg" style="height:130px;width:180px;" />
            <h5>Ask Your Queries</h5>
            <p>Get Personalized attention with concepts clarified by our mentor at your convinient schedule.</p>
        </div>
        <div class="col-sm-3 border p-4 ml-2 mt-2 rounded" id="content">
            <img class="img-responsive" src="/images/project.jpg" style="height:130px;width:180px;" />
            <h5>Build Projects</h5>
            <p>Create Real Word Projects to boost your resume</p>
        </div>
        <div class="col-sm-3 border p-4 ml-2 mt-2 rounded" id="content">
            <img class="img-responsive" src="/images/certi.jpg" style="height:130px;width:180px;" />

            <h5>Completion Certificate</h5>
            <p>Certification serves as portable proof of ability</p>
        </div>

    </div>
    </div>
    <!--------Courses------>

    <h3 class="text-center mt-4 coursetitle">Courses</h3>
    <hr style="height:2px;border-width:2px;background-color:#053680;width:200px;">
    <div class="row ml-2 mt-3 mr-2 p-4 myrow">
        <%  courses.forEach(function(course){ %>
        <div class="col border p-3 mt-2 ml-4 mr-5 rounded bg-white" id="content">
            <div class="text-center">
                <a class="course-link" href="/abc/<%=course._id%>">
                    <img class="img-responsive" src="<%=course.image_add%>" style="height:130px;width:200px;" /></div>
            <h5 class="mt-3"><%=course.course_name%></h5></a>
            <hr style="height:2px;border-width:0;background-color:#053680">
            <!--p><%=course.tutor%></p>--->
            <i class="fas fa-clock clockicon"> </i> 15+ hours Live Session<br>
            <i class="fas fa-project-diagram clockicon mt-2"></i> Build Portfolio Projects <br>
            <i class="fa fa-certificate clockicon mt-2" aria-hidden="true"></i> Get Certification
            <br>
            <h5 class="mt-3">
                <i class="fas fa-rupee-sign clockicon"><del> <%=course.originalprice_1%>/- </del></i>
                <i class="fas fa-rupee-sign clockicon ml-4"> <%=course.price%>/-</i>
            </h5>
            <br>

            <a href="https://forms.gle/KpZ9nGbF7onzz4nAA" class="btn btn-primary rounded">Register</a>
            <a href="/abc/<%=course._id%>" class="btn btn-danger rounded">Syllabus</a>


        </div>
        <% }) %>
    </div>

    <div class="text-center mt-4"><a href="allcourses" class=" btn btn-primary btn-pill">See All Courses</a></div>



    <!-- ----------------------- LOWER FOOTER--------------------------- -->

    <div id="footer">
        <div class="site-footer mt-5" style="background-color: #053680">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4">
                        <h3 class="footer-heading mb-4" style="color : #ffe400;">About Us</h3>
                        <p style="color: white;">Insights4all is an online learning platform that gives opportunity to
                            be mentored by highly certified
                            and experienced professionals keeping beginners and intermediates in mind.
                            For the most sought domain and skills by the industry.
                        <ol style="color:aliceblue;">
                            <li>Live Interactive Session with our experts for training and guidance.</li>
                            <li>Lifetime Access of Study materials.</li>
                            <li>Gaining access to exclusive course content and self paced videos as part of course
                                curriculum.</li>
                            <li>Oppurtunity to work on 1 Major project under the supervision of Professional Trainers.
                            </li>
                            <li>Course Completion Certificate.</li>

                        </ol>

                        </p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->

                        <ul class="list-unstyled float-left">
                            <li><a href="/">Home</a></li>
                            <li class="mt-3"><a href="allcourses">Courses</a></li>
                            <li class="mt-3"><a href="/contact">Contact Us</a></li>
                            <li class="mt-3"><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">


                        <div>
                            <h3 class="footer-heading mb-4" style="color: white;">Connect With Us</h3>
                            <p>
                                <a href="https://www.facebook.com/Insights4all-110315934092761"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/insights4all_/"><i class="fab fa-instagram"></i>
                                </a>
                            <p style="color: #ffe400;">Contact - +91 8291165361</p>
                            <p style="color: #ffe400;">Gmail - grow.with.insights4all@gmail.com</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--script>
        function myFunction() {
            var x = document.getElementById("main-nav");
            if (x.className === "main-nav") {
                x.className += " responsive";
            } else {
                x.className = "main-nav";
            }
        }
    </script-->
    <!-- --------------BOOTSTRAP CDN------------- -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>